* {
    margin: 0px;
}
p ,h2 {
    line-height: 1.5;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
    font-family: "Azeret Mono", monospace;
}
/* Navigation Start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 170px;
}
.header-button {
    color: #0D1321;
    background-color: white;
    border: 1px solid #0D1321;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;
}
.header-button:hover {
    color: white;
    background-color: black;
    box-shadow: 10px 10px 5px #CAE8FD;
    transition: 0.3s;
}
/* Navigation End */

/* Hero Section Start */
.hero-section {
    background-image: url('../assets/Hero-bg.png');
    object-fit: cover;
    padding: 30px 80px;
    text-align: center;
}
.hero-image {
    margin-bottom: 24px;
}
.hero-contact-btn {
    margin-top: 32px;
    font-size: 20px;
    color: white;
    background-color: #0D1321;
    border-radius: 5px;
    padding: 15px 22px;
    border: #0D1321 solid 1px;
}
.hero-contact-btn:hover{
    color: #0D1321;
    background-color: white;
    box-shadow: 10px 10px 5px black;
    transition: 0.3s;
}
/* Hero Section End */

/* Why Web Development Section Start */

.choosing-webdevelopment {
    background-color: #FAFAFB;
    margin: 50px 60px;
    border-radius: 10px;
    padding: 60px;
    
}
.wwd-card{
    display: flex;
    padding: 48px;
    border-radius: 10px;
    margin-top: 48px;
}
.wwd-card-text {
    display: inline;
    
}
.wwd-card-text h2 {
    color:#555963;
    font-size: 24px;
    
}
.wwd-card-text p {
    color:#555963;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
}

.wwd-card-image {
    display: inline;
    width:240px;
    height: 240px;
}
.wwd-card-btn {
    color:#555963;
    font-size: 20px;
    background-color: #FEFEFE;
    border: 1px solid #555963;
    padding: 10px 15px;
    margin-top: 20px;
}
.wwd-card-btn:hover {
    color: white;
    background-color: black;
    box-shadow: 10px 10px 5px #CAE8FD;
    transition: 0.3s;
}
.layer-1 {
    background-image: linear-gradient(to right, #FFFFFF, #FAFAFB);
}
.layer-2 {
    background-image: linear-gradient(to left, #FFFFFF, #FAFAFB);
}
/* Why Web Development Section End */
 
/* Inspiration Section Start */
.inspiration {
    margin-top: 100px;
}
.iframe-video {
    text-align: center;
    border:1px solid #D7D7D8;
    margin: 50px 219px;
    padding: 10px;
    border-radius: 10px;
}
/* Inspiration Section End */

/* My Current Section Start */
.current-target {
    margin-top: 70px;
    margin-left:10%;
    margin-right:10%;
    
}
.current-target-card {
    display: flex;

}
.ct-sub {
    margin-left:150px;
    margin-right:150px;
}
.target-html {
    background-color: #fef6f4;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 40px 15px;
    width: 100%;
    
}
.target-css {
    background-color: #F2F6FE;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 40px 15px;
    width: 100%;
    
}
.target-javascript {
    background-color: #FFFDF2;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 40px 15px;
    width: 100%;
}
.target-content {
    margin-bottom: 20px;
}
/* My Current Section End */

/* Need Support Section Start */
.need-support {
    background-image: url('../assets/handshake.jpg');
    text-align: center;
    margin: 10px 150px;
    object-fit: cover;
    border-radius: 10px;
    padding-top: 64px;
    padding-bottom: 64px ;
    justify-content: center;
    max-width: 100%;
    align-items:start;
}
.need-support-input {
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 550px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
}
.need-support-input placeholder {
    padding: 10px;
}
.need-support-btn {
    margin-top: 20px;
    border:none;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Azeret Mono", monospace;
}
.need-support-btn:hover {
    color: white;
    background-color: black;
    box-shadow: 10px 10px 5px #CAE8FD;
    transition: 0.3s;
}
/* Footer Section Start */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 15px 150px;
    margin-top: 80px;
}
.footer-icon {
    width: 28px;
}
/* Footer Section End */